* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: "Microsoft Sans Serif";


}
main {

    height: 180vh;
    width: 100%;
    display:grid;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: 40px 1fr 1fr 1fr 1fr 1fr 1fr 80px 80px 40px;
}
/*control nav*/
.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;


}
.navul li a {

    color: white;
}
.navul li a:hover {
    background: lightgray;


}

.nav {
    margin: 0;
    display: flex;
    grid-area: 1/ 1/ 2/ 4;
    background: black;
}
li a {
    text-decoration: none;
    padding: 14px 14px 12px 12px;
}
.menu ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;

}
/*control menu on side*/
/*first li or the word Menu*/
.menu li:nth-child(1) {
    font-weight: bold;
    padding-bottom: 1em;
}
.menu {
    grid-area: 2/ 1/ 11/ 2;
    background: lightgray;
    margin: 0;
}
.link {
    padding: 8px 0;
}
.headings {
    margin: 0 .5em;
}
/*control all the headings*/
h4 {
    font-size: 30px;
    font-weight: light;
    margin-bottom: 20px;
}
.heading1 {
    grid-area: 2/ 2/ span 2/ span 1;
    background: white;
}
.heading2 {
    grid-area: 4 /2 / span 2/ span 1 ;
    background: white;
}
.heading3 {
    grid-area: 6 / 2 / span 2 / span 1;
    background: white;
}
/*control the ads*/
.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px 10px 10px auto;
}
.ad1 {
     grid-area: 2/ 3/ span 1/ span 1;
     background: white;
     height: 90px;
     width: 325px;
     border: black 1px dotted;

 }
.ad2 {
    grid-area: -9 / 3 / span 1 / span 1;
    background: white;
    height: 180px;
    width: 325px;
    border: black 1px dotted;
    margin-top: -70px;


}
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10px 10px auto;
}
.ad3 {
    grid-area: -8 / 3 / span 1 / span 1;
    background: white;
    height: 90px;
    width: 325px;
    border: black 1px dotted;



}
.ad4 {
    grid-area: -7 / 3 / span 1 / span 1;
    background: white;
    height: 180px;
    width: 325px;
    border: black 1px dotted;
    margin-top: -70px;


}
.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10px 10px auto;
}
.ad5 {
    grid-area: -6 / 3 / span 1 / span 1;
    background: white;
    height: 90px;
    width: 325px;
    border: black 1px dotted;


}
.ad6 {
    grid-area: -5 / 3 / span 1 / span 1;
    background: white;
    height: 180px;
    width: 325px;
    border: black 1px dotted;
    margin-top: -70px;

}
/*control numbers at bottom*/
.number ul {
    display: flex;
    list-style: none;
    margin: auto;
    align-items: center;
    padding: 0;
}

/*a and i tag for numbers */
.num {
    color: black;
    padding: 8px 18.8px;
}
.num:hover{
    background: black;
    color: white;
}
.number {
    display: flex;
    justify-content: center;
    grid-area: 8 /2 / span 1 / span 2;
    background: white;


}
/*controls footer*/
.footer {
    display: flex;
    align-items: center;
    padding: 10px;
    grid-area: 9 / 2 / span 1 / span 2;
    background: gray;
    color: white;
}
/*controls bottom bar*/
.bar {
    display: flex;
    align-items: center;
    padding: 10px;
    grid-area: 10 / 2 / span 1 / span 2;
    background: black;
    color: white;

}