* {
    box-sizing: border-box;

}

body {
    margin: 0;


}
main {

    height: 200vh;
    width: 100%;
    display:grid;
    grid-template-columns: 15% 55% 30%;
    grid-template-rows: 40px 1fr 1fr 1fr 1fr 1fr 1fr 80px 80px 40px;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: .8em;


}
.navul li a {
    padding-right: .8em;
    color: white;


}
.navul li a:hover {
    background: lightgray;
    height: 100%;
}

/* classes are the sections*/
.nav {
    margin: 0;
    display: flex;
    grid-area: 1/ 1/ 2/ 4;
    background: black;
}
.menu ul {
    display: flex;
    list-style: none;
    flex-direction: column;

}
li a {
    text-decoration: none;
}
.menu ul {
    padding: .8em;
}
.menu {
    grid-area: 2/ 1/ 11/ 2;
    background: lightblue;

}
.text {
    margin: 0 .5em;
}

.heading1 {
    grid-area: 2/ 2/ span 2/ span 1;
    background: lightgoldenrodyellow;

}


.heading2 {
    grid-area: 4 /2 / span 2/ span 1 ;
    background: red;
}
.heading3 {
    grid-area: 6 / 2 / span 2 / span 1;
    background: lightgreen;


}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 10px auto;
}
.ad1 {
     grid-area: 2/ 3/ span 1/ span 1;
     background: lightpink;
     height: 75px;
     width: 300px;
     border: black 1px dotted;

 }
.ad2 {
    grid-area: -9 / 3 / span 1 / span 1;
    background: lightblue;
    height: 100px;
    width: 300px;
    border: black 1px dotted;
    margin-top: 2.5px;
    margin-bottom: 40px;

}
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 10px auto;
}
.ad3 {
    grid-area: -8 / 3 / span 1 / span 1;
    background: lightyellow;
    height: 75px;
    width: 300px;
    border: black 1px dotted;


}
.ad4 {
    grid-area: -7 / 3 / span 1 / span 1;
    background: blue;
    height: 100px;
    width: 300px;
    border: black 1px dotted;
    margin-top: 2.5px;
    margin-bottom: 40px;
}
.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 10px auto;
}
.ad5 {
    grid-area: -6 / 3 / span 1 / span 1;
    background: lightyellow;
    height: 75px;
    width: 300px;
    border: black 1px dotted;

}
.ad6 {
    grid-area: -5 / 3 / span 1 / span 1;
    background: pink;
    height: 100px;
    width: 300px;
    border: black 1px dotted;
    margin-top: 2.5px;
}
.number ul {
    display: flex;
    list-style: none;
}
.number ul li {
    margin: 10px;
}
.number {
    display: flex;
    justify-content: center;
    grid-area: 8 /2 / span 1 / span 2;
    background: purple;


}
.footer {
    display: flex;
    align-items: center;
    padding: 10px;
    grid-area: 9 / 2 / span 1 / span 2;
    background: gray;
    color: white;
}
.link {
    display: flex;
    align-items: center;
    padding: 10px;
    grid-area: 10 / 2 / span 1 / span 2;
    background: black;
    color: white;

}